<div>
  <tr>
    <td>
      <span type='form' name="person:id" target="_blank" href="view?id=">
        <span type='form' name="person:firstname" />
      </span>
    </td>
    <td>
      <span type='form' name="person:id" target="_blank" href="view?id=">
        <span type='form' name="person:surname" />
      </span>
    </td>
    <td><span type='form' name="exam_apply:exam_schedule" /></td>
    <td><span type='form' name="exam_apply:payment_slip" /></td>
    <td><span type='form' name="exam_apply:application_date" /></td>
    <td><span type='form' name="exam_apply:exam_app_status" /></td>
    <td><span type="form" name="exam_apply:index_number" /></td>
    <td><span name="reason" /></td>
    <td style="width:10px">
      <span name="action_approve" />
      <span name="action_reject" />
    </td>
    <span name="hidden_data" />
  </tr>
</div>