<tbody id="person_form">
  <tr>
    <th colspan="2">Application Details</th>
  </tr>
  <tr>
    <td>
      <span type="form" name="exam_apply:exam_schedule" showhead="default"></span>
      <span type="form" name="exam_apply:payment_slip" showhead="default"></span>
      <span type="form" name="exam_apply:application_date" noedit="true" showhead="default"></span>
    </td>
    <td>
      <span type="form" name="exam_apply:index_number" showhead="default" noedit="true"></span>
    </td>
  </tr>
</tbody>