<tbody id="training_form">
	<tr>
		<th colspan="3">Disciplinary Action</th>
	</tr>
	<tr id="list_fields">
		<td>
			<span type="form" name="disciplinary_action:disciplinary_action_reason" showhead="default" noedit='true'></span>
			<span type="form" name="disciplinary_action:action_date" showhead="default" noedit='true'></span>
		</td>
		<td>
			<span type="form" name="disciplinary_action:officer_disciplinary_notes" showhead="default" noedit='true'></span>
			<span type="form" name="disciplinary_action:suspend" showhead="default" noedit='true'></span>
		</td>
		<td>
			<span type="form" name="disciplinary_action:disciplinary_status" showhead="default"></span>
			<span type="form" name="disciplinary_action:registrar_disciplinary_notes" showhead="default"></span>
		</td>
	</tr>
</tbody>