<tbody id="list_fields">
	<tr>
	<td class="formdata">
	   	<span type="form" name="name" showhead="default"></span>
	   	<span type="form" name="id_code" showhead="default"></span>
			 <span type="form" name="facility_type" showhead="default" addlink="lists?add=1&amp;type=facility_type"></span>
			 <span type="form" name="facility_ownership" showhead="default" addlink="lists?add=1&amp;type=facility_ownership"></span>
	   	<span type="form" name="facility_agent" showhead="default" addlink="lists?add=1&amp;type=facility_agent"></span>
	</td><td class="formdata">
	   	<span type="form" name="location" showhead="default"></span>
			<span type="form" name="facility_status" showhead="default" addlink="lists?add=1&amp;type=facility_status"></span>
			<span type="form" name="latitude" showhead="default"></span>
      <span type="form" name="longitude" showhead="default"></span>
    </td>
    </tr>
</tbody>
